.Team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Separator {
  width: 1px;
  height: 100px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #000 51.04%,
    rgba(0, 0, 0, 0) 100%
  );
}
