.Filters {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 6px;
  margin: 0 40px;
}

.Clear {
  color: #999;
  margin-left: 10px;
  text-decoration: underline;
}
